.products {
  &__actions {
    width: 78%;
    margin: 2rem;
    // background-color: aqua;
    @include flex-sb;
    color: $color-grey;
    font-size: 1.4rem;
    font-weight: 400;

    //Responsive phone 600px
    @include respond(phone) {
      flex-direction: column;
    }

    &--filter-containter {
      @include flex-sb;
      padding: 1rem;
    }

    &--sort-containter {
      @include flex-sb;
      padding: 1rem;

      //Responsive phone 600px
      @include respond(phone) {
        width: 100%;
        flex-direction: column;
      }

      .sort-options {
        @include flex-even;

        //Responsive phone 600px
        @include respond(phone) {
          // background-color: aquamarine;
          width: 99%;
          flex-direction: column;
          
        }

        &:not(:first-child) {
          margin-left: 3rem;

           //Responsive phone 600px
        @include respond(phone) {
          margin: 0;
        }

        }
      }
    }

    .dropdown {
      padding: 0.5rem;
      margin-left: 1rem;
      border-radius: 0.4rem;
      border:
        0.1rem,
        solid $color-grey;
      color: $color-grey;

      
        //Responsive phone 600px
        @include respond(phone) {
        width: 60%;
        flex-direction: column;
      }
    }
  }
}
