//Color Variables

$color-white: #fff;
$color-black: #000;
$color-grey: #666666;
$color-grey-light-1: #e6e6e6;
$color-grey-dark-1: #333333;
$color-grey-dark-2: #1a1a1a;
$color-primary: #00b207;
$color-primary-dark: #2c742f;
$color-warning: #ff8a00;
$color-yellow: #fcc900;
$color-warning-1: #ea4b48;
